# UDF vs Higher order functions

In [1]:
# Create Spark Session

from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("UDF vs Higher Order Functions") \
    .master("spark://spark-master:7077") \
    .getOrCreate()

spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/11 16:53:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# Example Data Frame

_data = [
    [1, ["Bangalore", "Mumbai", "Pune", "Indore"]],
    [2, ["Bangalore"]],
    [3, []],
    [4, ["Kolkata", "Bhubaneshwar"]],
    [5, ["Bangalore", "Mumbai", "Pune", "Indore", "Ahmedabad", "Suratkal"]],
    [6, ["Delhi", "Mumbai", "Kolkāta", "Bangalore", "Chennai", "Hyderābād", "Pune", "Ahmedabad", "Sūrat", "Lucknow", "Jaipur", "Cawnpore", "Mirzāpur", "Nāgpur", "Ghāziābād", "Indore", "Vadodara", "Vishākhapatnam", "Bhopāl", "Chinchvad", "Patna", "Ludhiāna", "Āgra", "Kalyān", "Madurai", "Jamshedpur", "Nāsik", "Farīdābād", "Aurangābād", "Rājkot", "Meerut", "Jabalpur", "Thāne", "Dhanbād", "Allahābād", "Vārānasi", "Srīnagar", "Amritsar", "Alīgarh", "Bhiwandi", "Gwalior", "Bhilai", "Hāora", "Rānchi", "Bezwāda", "Chandīgarh", "Mysore", "Raipur", "Kota", "Bareilly", "Jodhpur", "Coimbatore", "Dispur", "Guwāhāti", "Solāpur", "Trichinopoly", "Hubli", "Jalandhar", "Bhubaneshwar", "Bhayandar", "Morādābād", "Kolhāpur", "Thiruvananthapuram", "Sahāranpur", "Warangal", "Salem", "Mālegaon", "Kochi", "Gorakhpur", "Shimoga", "Tiruppūr", "Guntūr", "Raurkela", "Mangalore", "Nānded", "Cuttack", "Chānda", "Dehra Dūn", "Durgāpur", "Āsansol", "Bhāvnagar", "Amrāvati", "Nellore", "Ajmer", "Tinnevelly", "Bīkaner", "Agartala", "Ujjain", "Jhānsi", "Ulhāsnagar", "Davangere", "Jammu", "Belgaum", "Gulbarga", "Jāmnagar", "Dhūlia", "Gaya", "Jalgaon", "Kurnool", "Udaipur", "Bellary", "Sāngli", "Tuticorin", "Calicut", "Akola", "Bhāgalpur", "Sīkar", "Tumkūr", "Quilon", "Muzaffarnagar", "Bhīlwāra", "Nizāmābād", "Bhātpāra", "Kākināda", "Parbhani", "Pānihāti", "Lātūr", "Rohtak", "Rājapālaiyam", "Ahmadnagar", "Cuddapah", "Rājahmundry", "Alwar", "Muzaffarpur", "Bilāspur", "Mathura", "Kāmārhāti", "Patiāla", "Saugor", "Bijāpur", "Brahmapur", "Shāhjānpur", "Trichūr", "Barddhamān", "Kulti", "Sambalpur", "Purnea", "Hisar", "Fīrozābād", "Bīdar", "Rāmpur", "Shiliguri", "Bāli", "Pānīpat", "Karīmnagar", "Bhuj", "Ichalkaranji", "Tirupati", "Hospet", "Āīzawl", "Sannai", "Bārāsat", "Ratlām", "Handwāra", "Drug", "Imphāl", "Anantapur", "Etāwah", "Rāichūr", "Ongole", "Bharatpur", "Begusarai", "Sonīpat", "Rāmgundam", "Hāpur", "Uluberiya", "Porbandar", "Pāli", "Vizianagaram", "Puducherry", "Karnāl", "Nāgercoil", "Tanjore", "Sambhal", "Naihāti", "Secunderābād", "Kharagpur", "Dindigul", "Shimla", "Ingrāj Bāzār", "Ellore", "Puri", "Haldia", "Nandyāl", "Bulandshahr", "Chakradharpur", "Bhiwāni", "Gurgaon", "Burhānpur", "Khammam", "Madhyamgram", "Ghāndīnagar", "Baharampur", "Mahbūbnagar", "Mahesāna", "Ādoni", "Rāiganj", "Bhusāval", "Bahraigh", "Shrīrāmpur", "Tonk", "Sirsa", "Jaunpur", "Madanapalle", "Hugli", "Vellore", "Alleppey", "Cuddalore", "Deo", "Chīrāla", "Machilīpatnam", "Medinīpur", "Bāramūla", "Chandannagar", "Fatehpur", "Udipi", "Tenāli", "Sitalpur", "Conjeeveram", "Proddatūr", "Navsāri", "Godhra", "Budaun", "Chittoor", "Harīpur", "Saharsa", "Vidisha", "Pathānkot", "Nalgonda", "Dibrugarh", "Bālurghāt", "Krishnanagar", "Fyzābād", "Silchar", "Shāntipur", "Hindupur"]],
    [7, ["Bangalore", "Indore"]],
    [8, ["Bangalore"]],
    [9, ["Kolkata", ]],
    [10, ["Bhubaneshwar"]],
    [11, ["Bangalore", "Mumbai", "Suratkal"]],
    [12, ["Chennai", "Hyderābād", "Pune", "Ahmedabad", "Sūrat", "Lucknow", "Jaipur", "Cawnpore"]],
    [13, []]
]

_cols = ["id", "cities"]

# Create Data Frame
df = spark.createDataFrame(data = _data, schema = _cols)
df.printSchema()
df.show()

root
 |-- id: long (nullable = true)
 |-- cities: array (nullable = true)
 |    |-- element: string (containsNull = true)

+---+--------------------+
| id|              cities|
+---+--------------------+
|  1|[Bangalore, Mumba...|
|  2|         [Bangalore]|
|  3|                  []|
|  4|[Kolkata, Bhubane...|
|  5|[Bangalore, Mumba...|
|  6|[Delhi, Mumbai, K...|
|  7| [Bangalore, Indore]|
|  8|         [Bangalore]|
|  9|           [Kolkata]|
| 10|      [Bhubaneshwar]|
| 11|[Bangalore, Mumba...|
| 12|[Chennai, Hyderāb...|
| 13|                  []|
+---+--------------------+

In [3]:
# UDF for len of cities
from pyspark.sql import functions as F

def len_of_cities(col):
    _len = 0
    for i in col:
        _len += len(i)
    return _len

len_of_cities_udf = F.udf(lambda x: len_of_cities(x))

In [4]:
# Getting the execution time using the UDF

df.withColumn("len_of_cities", len_of_cities_udf("cities")).show()

+---+--------------------+-------------+
| id|              cities|len_of_cities|
+---+--------------------+-------------+
|  1|[Bangalore, Mumba...|           25|
|  2|         [Bangalore]|            9|
|  3|                  []|            0|
|  4|[Kolkata, Bhubane...|           19|
|  5|[Bangalore, Mumba...|           42|
|  6|[Delhi, Mumbai, K...|         1806|
|  7| [Bangalore, Indore]|           15|
|  8|         [Bangalore]|            9|
|  9|           [Kolkata]|            7|
| 10|      [Bhubaneshwar]|           12|
| 11|[Bangalore, Mumba...|           23|
| 12|[Chennai, Hyderāb...|           55|
| 13|                  []|            0|
+---+--------------------+-------------+

In [5]:
# USE OF AGGREGATE (REDUCE)
from pyspark.sql.functions import aggregate, lit, length, size

df.withColumn("len_of_cities", F.aggregate("cities", F.lit(0), lambda x, y: x + F.length(y))).show()

+---+--------------------+-------------+
| id|              cities|len_of_cities|
+---+--------------------+-------------+
|  1|[Bangalore, Mumba...|           25|
|  2|         [Bangalore]|            9|
|  3|                  []|            0|
|  4|[Kolkata, Bhubane...|           19|
|  5|[Bangalore, Mumba...|           42|
|  6|[Delhi, Mumbai, K...|         1806|
|  7| [Bangalore, Indore]|           15|
|  8|         [Bangalore]|            9|
|  9|           [Kolkata]|            7|
| 10|      [Bhubaneshwar]|           12|
| 11|[Bangalore, Mumba...|           23|
| 12|[Chennai, Hyderāb...|           55|
| 13|                  []|            0|
+---+--------------------+-------------+

In [7]:
from pyspark.sql.types import ArrayType, StringType, BooleanType, IntegerType

In [8]:
# USE OF TRANSFORM

df_upper = df.withColumn("upper_cities", F.transform("cities", lambda x: F.upper(x)))
to_upper_udf = F.udf(lambda arr: [x.upper() for x in arr], ArrayType(StringType()))
df_upper_udf = df.withColumn("upper_cities", to_upper_udf(F.col("cities")))

In [9]:
df_upper.write.format("noop").mode("overwrite").save()
df_upper_udf.write.format("noop").mode("overwrite").save()

In [16]:
df_upper.show()

+---+--------------------+--------------------+
| id|              cities|        upper_cities|
+---+--------------------+--------------------+
|  1|[Bangalore, Mumba...|[BANGALORE, MUMBA...|
|  2|         [Bangalore]|         [BANGALORE]|
|  3|                  []|                  []|
|  4|[Kolkata, Bhubane...|[KOLKATA, BHUBANE...|
|  5|[Bangalore, Mumba...|[BANGALORE, MUMBA...|
|  6|[Delhi, Mumbai, K...|[DELHI, MUMBAI, K...|
|  7| [Bangalore, Indore]| [BANGALORE, INDORE]|
|  8|         [Bangalore]|         [BANGALORE]|
|  9|           [Kolkata]|           [KOLKATA]|
| 10|      [Bhubaneshwar]|      [BHUBANESHWAR]|
| 11|[Bangalore, Mumba...|[BANGALORE, MUMBA...|
| 12|[Chennai, Hyderāb...|[CHENNAI, HYDERĀB...|
| 13|                  []|                  []|
+---+--------------------+--------------------+

In [10]:
# USE OF FILTER

df_filtered = df.withColumn("cities_with_a", F.filter("cities", lambda x: F.instr(x, 'a') > 0))
filter_cities_udf = F.udf(lambda arr: [x for x in arr if 'a' in x], ArrayType(StringType()))
df_filtered_udf = df.withColumn("cities_with_a", filter_cities_udf(F.col("cities")))

In [11]:
df_filtered.write.format("noop").mode("overwrite").save()
df_filtered_udf.write.format("noop").mode("overwrite").save()

In [15]:
df_filtered.show()

+---+--------------------+--------------------+
| id|              cities|       cities_with_a|
+---+--------------------+--------------------+
|  1|[Bangalore, Mumba...| [Bangalore, Mumbai]|
|  2|         [Bangalore]|         [Bangalore]|
|  3|                  []|                  []|
|  4|[Kolkata, Bhubane...|[Kolkata, Bhubane...|
|  5|[Bangalore, Mumba...|[Bangalore, Mumba...|
|  6|[Delhi, Mumbai, K...|[Mumbai, Kolkāta,...|
|  7| [Bangalore, Indore]|         [Bangalore]|
|  8|         [Bangalore]|         [Bangalore]|
|  9|           [Kolkata]|           [Kolkata]|
| 10|      [Bhubaneshwar]|      [Bhubaneshwar]|
| 11|[Bangalore, Mumba...|[Bangalore, Mumba...|
| 12|[Chennai, Hyderāb...|[Chennai, Ahmedab...|
| 13|                  []|                  []|
+---+--------------------+--------------------+

In [12]:
# USE OF EXISTS

df_exists = df.withColumn("contains_mumbai", F.exists("cities", lambda x: x == "Mumbai"))
contains_mumbai_udf = F.udf(lambda arr: 'Mumbai' in arr, BooleanType())
df_exists_udf = df.withColumn("contains_mumbai", contains_mumbai_udf(F.col("cities")))

In [13]:
df_exists.write.format("noop").mode("overwrite").save()
df_exists_udf.write.format("noop").mode("overwrite").save()

In [14]:
df_exists.show()

+---+--------------------+---------------+
| id|              cities|contains_mumbai|
+---+--------------------+---------------+
|  1|[Bangalore, Mumba...|           true|
|  2|         [Bangalore]|          false|
|  3|                  []|          false|
|  4|[Kolkata, Bhubane...|          false|
|  5|[Bangalore, Mumba...|           true|
|  6|[Delhi, Mumbai, K...|           true|
|  7| [Bangalore, Indore]|          false|
|  8|         [Bangalore]|          false|
|  9|           [Kolkata]|          false|
| 10|      [Bhubaneshwar]|          false|
| 11|[Bangalore, Mumba...|           true|
| 12|[Chennai, Hyderāb...|          false|
| 13|                  []|          false|
+---+--------------------+---------------+

In [17]:
spark.stop()